@model ContactViewModel

@{
    ViewBag.Title = "Contact";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmitAccessRequest').click(function () {
            $('#ConfirmationAlert').show('fade');

            setTimeout(function () {
                $('#ConfirmationAlert').hide('fade');
            }, 2000);
        });

        $('#btnSubmitFeedback').click(function () {
            $('#ConfirmationAlert').show('fade');

            setTimeout(function () {
                $('#ConfirmationAlert').hide('fade');
            }, 2000);
        });


        $('#linkClose').click(function () {
            $('#ConfirmationAlert').hide('fade');
        });
    });

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>


<section style="padding:2%; border-radius: 50px; margin:20%; margin-top:10%; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png') 50% 0 repeat fixed; opacity: 0.9;filter: alpha(opacity=255); min-height:100px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">

    <br></br>
    <center>
        <font color="red">
            <h2>Request access upgrade</h2>
        </font>
        <p>
            An access upgrade will give you access to locked pages.
            <br />If access is granted, you will recieve a new login and password by mail.
        </p>
        <form method="post" asp-controller="Account" asp-action="RequestAccess">

            <label>Let me know who you are:</label>
            <input asp-for="InputAccessRequestWho" />
            <br />
            <label>Your mail:</label>
            <input asp-for="InputAccessRequestMail" />
            <br />
            <input id="btnSubmitAccessRequest" type="submit" value="Send request" class="navbar-btn btn btn-danger" />
        </form>

        <h3>
            <font color="red">
              Send Kasper a message
            </font>
        </h3>
        <form method="post" asp-controller="Account" asp-action="Feedback">

            <p>
                Give anonymous feedback on the website or its content, constructive criticism is allways appreciated!
            </p>
            <input asp-for="InputFeedback" />
            <br />
            <input id="btnSubmitFeedback" type="submit" value="Send feedback" class="navbar-btn btn btn-danger" />
        </form>

        <div id="ConfirmationAlert" class="alert alert-danger collapse">
            <a id="linkClose" href="#" class="close" data-dismiss="alert"> &times;</a>
            <strong>Message sent!</strong>
        </div>
    </center>
    </div>
</section>
