@model ContactViewModel

@{
    ViewBag.Title = "Contact";
}

<div style="width: 60%; margin-left: 20%; margin-right: 20%; margin-bottom: 20%;">
    <br></br>
    <center>
        <h1>
            <strong>Mail:</strong> <a href="mailto:Kallenielsen87@live.dk">Kallenielsen87@live.dk</a><br />
            <strong>Tlf:</strong> <a>24250220</a>
        </h1>
    </center>
</div>