@model ContactViewModel

@{
    ViewBag.Title = "Contact";
}

<div style="width: 60%; margin-left: 20%; margin-right: 20%; margin-bottom: 20%;">
    <br></br>
    <center>
        <h3>
            <b>Mail:</b> <a href="mailto:Kallenielsen87@live.dk">Kallenielsen87@live.dk</a><br />
            <b>Tlf:</b> <a>24250220</a><br />


        </h3>
        <h3>
            <b> Linkedin:</b> <a href="www.linkedin.com/in/kasper-nielsen-1984b8107">www.linkedin.com/in/kasper-nielsen-1984b8107</a><br />
</h3>
</center>
</div>