@*@using Eksempel_1.Models
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@
@model Video

@{
    ViewBag.Title = "Create";
}

<h2>Create Video</h2>

<form asp-action="Create">
    <div asp-validation-summary="All"></div>
    <table>
        <tr>
            <td><label asp-for="Title"></label></td>
            <td><input asp-for="Title" /></td>
            <td><span asp-validation-for="Title" /></td>
        </tr>
        <tr>
            <td><label asp-for="Genre"></label></td>
           <td><span asp-validation-for="Genre"></span></td>
        </tr>
    </table>

    <input type="submit" value="Create" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
