@model FutureViewModel

@{
    ViewBag.Title = "Future goal";
}
<br /><br />
<center><h1>Future goal</h1></center>
<br />

<div style="width: 60%; margin-left: 20%; margin-right: 20%;">

    <h2>Certified Information Security Manager</h2>
    <p>
        IT security has been an interest of mine for along time, even from before i started my education as a software developer. The main reason is because to defend/attack some technology, you need to know exactly how it work, what makes it tick, which is facinating to me and why im planning on moving into that field as soon as my situation allows it.
    </p>

    <p>
        Preferably ill be able to find a job where some tasks of security nature, will be part of the development rutine. I doubt that will be a problem though, as security seems to be a concern for pretty much any kind of developer work these days. This is only natural ofcourse as our society becomes increasingly more globalised, aswell as digitalized, it will also be exposed to new threats, we regular citizens havent had to deal with before. Look just to the new legislation in Europe as of May 2018, to see how serious the matter of our security are being taken
    </p>

    <p><b><i>https://persondatasupport.as/hvad-er-persondataforordningen/ </i></b></p>
    <p>
        Its quiet extensive, but the core is basicly that there are put severe restrictions, and demands for security, on any company that handles sensitve customer data, which is pretty much any store or website in existence.
    </p>
    <p>
        Since i currently dont have any education in the field of IT security, i can hardly expect to aquire a job from that field yet, which is why ive made a bit of a developmentplan on how ill reach that goal.
    </p>
    <p>
        <i>
            (It is open and probably will be subject to change, since i will only do these things as far as they are possible without interfering with my regular work. And besides, it is impossible to know what my situation looks like in 2 years time, but for now, this is the plan ill attempt to follow as much as possible)
        </i>
    </p>

    <b>
        INFOSECURITY DENMARK 2018 | 2. OG 3. MAJ
    </b>
    <p>
        https://www.infosecurity.dk/

    </p>
    <b>
        2018 Course in software security
    </b>

    <p>
        https://www.coursera.org/learn/software-security#pricing
    </p>
    <b>
        2018 Security+ certificate
    </b>
    <p>
        https://www.teknologisk.dk/kurser/online-kursus-comptia-security-plus/k72841
    <p>

        <b>
            2019  Course to get the certification for Certified Ethical Hacker v9 [ECC_CEH9]
        </b>
    <p>  https://www.teknologisk.dk/kurser/certified-ethical-hacker-v9-ecc-ceh9/k87218 </p>



    <b>
        2020-2021 Master in IT security
    </b>

    <p>
        http://www.master-it-vest.dk/it-sikkerhed/ <br /> or <br /> https://www.eaaa.dk/efteruddannelse-og-kurser/diplomuddannelse/it-sikkerhed/uddannelsens-opbygning/

    </p>

    <b>
        In 5years Certified Information Security Manager (CISM)
    </b>
    <p>https://www.teknologisk.dk/kurser/online-kursus-certified-information-security-manager-cism/k72845?gclid=CjwKCAiA_ojVBRAlEiwAOLRxI9wk3ouM8qK63k5Vk8IyL4BhN6qdpXuko1m9HeQjh0MWG9yAQBWBLRoCV7IQAvD_BwE</p>

</div>
