@model GradesViewModel

@{
    ViewBag.Title = "Grades";
}


<br /><br />
<center><h1>Grades</h1></center>
<br />
<div style="width: 60%; margin-left: 20%; margin-right: 20%; margin-bottom: 20%;">
    </br>
    <h3> Academy Profession (AP) Degree in Computer Science</h3>
    <a target="_blank" href="@GradesViewModel.Grades.AzureUrl"></a>
    <img src="@GradesViewModel.Grades.AzureUrl" alt="Image" style="width: 100%; height: 100%;" />

    <br /><br /><br /><br />
    <center><h1>References</h1></center>
    <br /><br />
    <h3>1. Reference from Skive Aqua park will be added when i find it.</h3>
    <h3>2. Working on getting one from IndieGala aswell, but they are very busy at the moment so it might take a while.</h3>

    <br /><br />
    <center><h1>Other</h1></center>
    <br /><br />

</div>
