@model GradesViewModel

@{
    ViewBag.Title = "Grades";
}

 </br> </br> </br> </br> </br> </br>
<section id="About" style="border-radius: 0px; padding-left: 20px; padding-right: 20px; background: url('url to image hosted in an Azure blob here.'); opacity: 0.9;filter: alpha(opacity=255); min-height:100px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">





</section>

<br />   <br /><br />   <br /><br />   <br />