@model GradesViewModel

@{
    ViewBag.Title = "Grades";
}



<center>

    <div style="border-radius: 50px;
margin:10%;
padding: 2%;
background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png') 50% 0 repeat fixed;
min-height:100px;
width:60%;
position:relative;
-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
box-shadow: 0 0 50px rgba(0,0,0,0.8);">
        <br />
        <center><h1>Grades</h1></center>

        </br>
        <h3> Academy Profession (AP) Degree in Computer Science(Datamatiker)</h3>

        <a href="https://iamkaspernielsenstorage.blob.core.windows.net/myimages//Grades.png">
            <img src="@GradesViewModel.Grades.AzureUrl" alt="Image" style="width: 100%; height: 100%;" />
        </a>
        <br /><br /><br /><br />

    </div>




    <div style="border-radius: 50px;
margin:10%;
padding: 2%;
background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png') 50% 0 repeat fixed;
min-height:100px;
width:60%;
position:relative;
-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
box-shadow: 0 0 50px rgba(0,0,0,0.8);">
        <br />
        <center><h1>References</h1></center>

        </br>
        <h3>From Diana Lys, Flextronics and Kulturcenter Limfjord</h3>

        <a href="https://iamkaspernielsenstorage.blob.core.windows.net/myimages/References.png">
            <img src="@GradesViewModel.References.AzureUrl" alt="Image" style="width: 100%; height: 100%;" />
        </a>
        <br />


    </div>

</center>