@using _18Marts.ViewModels
@model HomeViewModel
@{
    ViewBag.Title = "Home";
}


<div style="
background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//14sw-Copy.jpg');
height: 800px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
-webkit-box-shadow: 0 20px 50px rgba(0,0,0,0.8);
box-shadow: 0px 20px 50px rgba(0,0,0,0.8);">
</div>



@*<div style="margin-left:20px; margin-top:10%; position:absolute; z-index:11;">
        <u>
            <p style="margin-bottom:0px; color:white;">Content:</p>
            <a href="#About">About</a><br />
            <a href="#Skills">Skills</a><br />
            <a href="#Interests">Interests</a><br />
            <a href="#Idols">Idols</a><br />
            <a href="#CV">CV</a>
        </u>
    </div>*@



<br /><br />

<section id="About" style="border-radius: 50px; padding-left: 20px; padding-right: 20px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png'); opacity: 0.9;filter: alpha(opacity=255); min-height:100px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
    <center>
        <br />
        <h2>
            About Kasper Nielsen
        </h2>
        <h5>
            - Newly graduated software developer with an AP Degree in Computer Science(Datamatiker) as of 2018 January!
        </h5>
        <p>
            <i>
                (Mashed this website together start marts 2018 with technologies that are still new to me(im actually not a web developer) like ASP.NET CORE MVC, Razor pages, Javascript, Bootstrap, AZURE and SQL, its by no means finished, but for holding my information it will suffice for now.)
            </i>
        </p>
    </center><br />
</section>

<br /> <br /><br />


<section style=" min-height:100px; margin-left: 40%; width:20%; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">

    <center style="padding:2%;">
        <div>
            <a target="_blank" href="@HomeViewModel.Me.AzureUrl"></a>
            <img src="@HomeViewModel.Me.AzureUrl" alt="Image" style="width: 98%; height: 98%;" />
        </div>
    </center>
</section>

<br />

<center>
    <section style="display:inline-block; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png'); border-radius: 50px; opacity: 0.9;filter: alpha(opacity=255); min-height:55px; width:80%; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
        <br />
        <p style="padding:5px; font-size:22px;"><b>Status:</b> After finishing my education, i am now looking for new oppertunities where i can continue to develop and hone my skills, aswell as acquire new ones(hopefully)! </p>

    </section>
</center>

<br /><br /><br /><br />




<div id="Skills" style="padding: 20px; border-radius: 50px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png');  opacity: 0.9;filter: alpha(opacity=255); min-height:200px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
    </br>
    <center>
        <h1>Skills</h1>
    </center>
    </br>
    <h5>Topics i have worked with extensively, and do feel comfortable working with</h5>
    <ul>
        <li>Visual Studio IDE. Primarily with applications of the types: Console, Win forms, WPF and currently learning ASP.NET webapp development</li>
        <li>C#</li>
        <li>Unity (game engine)</li>
    </ul>
    <h5>Tops i have worked with, and do feel somewhat comfortable working with, though some elements might be rusty and needs refreshing</h5>
    <ul>
        <li>Android development with Android Studio and Java</li>
        <li>Git/Sourcetree/Unity collab/Visual studio team explorer</li>
        <li>HTML/CSS</li>
        <li>Monogame(Gameengine extension for Visual studio)</li>
        <li>Working in accord to specific development patterns like Scrum, Unified Process or Waterfall</li>
        <li>SQLite for local databases</li>
        <li>JSON</li>
    </ul>
    <h5>Stuff i have tried briefly, but would feel somewhat comfortable working with after some reading up</h5>
    <ul>
        <li>C++</li>
        <li>Linux Kali</li>
        <li>Virtual box</li>
        <li>Windows Azure(im currently learning webapps/razor pages with ASP.NET for Azure)</li>
        <li>Notepad++</li>
    </ul>
    <h5>Other</h5>
    <ul>
        <li>Drivers license for regular cars</li>
        <li>English, fluent spoken and written</li>
        <li>Understands some German, mostly written though</li>
    </ul>

    <h5>Im currently studying/training Webapplications, with focus on the elements listed below</h5>
    <ul>
        <li>ASP.NET</li>
        <li>The MVC design pattern</li>
        <li>HTML/CSS</li>
        <li>Bootstrap</li>
        <li>Razor pages</li>
        <li>SQL Server/Databases</li>
        <li>Windows Azure</li>
    </ul>
</div>


<br /><br /><br /><br /><br />

<section id="Interests" data-type="background" data-speed="10" class="pages" style="border-radius: 50px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png');  opacity: 0.9;filter: alpha(opacity=255); min-height:200px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
    <br />
    <center>
        <h1>Interests</h1>

        <h3>Tech related</h3>
    </center>
    <div style="width: 80%; margin-left: 10%; margin-right: 10%; ">
        <ul>
            <li>Creating software(duh!)</li>
            <li>IT security</a></li>
            <li>New technologies, including IoT, AR, VR, robots, and AI among other things</a></li>
            <li>C# / OOP</a></li>
            <li>Making videogames</a></li>
            <li>Innovation, in the sense that, i like to ponder on how i can make my life(and others), easier or better, with something i can develop.</a></li>
            <li>Developing for Android/Mobile, usually when tied to one of the new techonologies, that arent really avalible to a regular desktop like AR, VR or use of indbuild sensors like the gyroscope or gps.</a></li>
        </ul>
    </div>
    <center><h3>Others</h3>  </center>
    <div style="width: 80%; margin-left: 10%; margin-right: 10%; ">
        <p>
            Sport, playing videogames, badminton, books(primarily about tech, personal development and fantasy novels), boxing, fitness, living healthy, healthy food, politics, entrepreneurship, Magic the gathering, traveling, cars, personal development, konferences, animals, spending time outside in the nature and a ton of other things.
        </p>
    </div>
    <br />
</section>

<br /><br /><br /><br />

<section id="Idols" data-type="background" data-speed="10" class="pages" style="border-radius: 50px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png');  opacity: 0.9;filter: alpha(opacity=255); min-height:150px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
    <div>
        <center>
            <h1>Idols</h1>
            <div style="width: 80%; margin-left: 10%; margin-right: 10%; ">
                <p>
                    In my oppinion, who a person idolizes says alot about that person, so, in attempt to better show you who i am, I by my own logic need to tell you a bit about my idols aswell.
                </p>
        </center>
    </div>
</section>

<br /><br />


<section id="about" data-type="background" data-speed="10" class="pages" style="border-radius: 50px; padding:15px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png');  opacity: 0.9;filter: alpha(opacity=255); min-height:200px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
    <center>
        <h2>Elon Musk</h2>
    </center>
    <p>
        Founder of Paypal, Tesla and SpaceX, this guy is a gift to the world that just keep on giving! Elon is a technological genious who works like a horse, are stubborn about making his ideas work, AND has impeccable morals unlike most(any?) top directors around the world, who actually have the power to change the world. which is the biggest factor in me respecting him so much. Elon creates what he thinks the world needs, not what he thinks he can sell, or atleast it doesnt seem to be his first priority. Or im sure he wouldnt have went into space exploration blowing up one multi billion dollar spacerocket after another with no apparent monetary gain in sight. I have no doubt in my mind that in 1-200 years, Elon will be remembered as our times Edison, Tesla or Einstein.
    </p>
    <br />
</section>
<br />

<center style="position:relative; z-index:3;">
    <iframe width="560"
            height="315"
            src="http://www.youtube.com/embed/XQnzk334PtA"
            frameborder="0"
            allowfullscreen></iframe>
</center>


<br /><br />

<section id="about" data-type="background" data-speed="10" class="pages" style="padding:20px; border-radius: 50px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png');  opacity: 0.9;filter: alpha(opacity=255); min-height:200px; margin: 0 auto; width:80%; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
    <center>
        <h2>Mikkel Kessler</h2>>
    </center>
    <p><i>Joe Calzaghe, Mikkels biggest opponent to date and Mikkel having a stare-off. These guys are great friends outside of the ring even to this day, despite having to brawl it out against eachother. Allegedly they enjoy meeting up for a match of table tennis when visiting eachothers countries, truely honorable guys!</i></p>
    <br />
    Having played a ton of sports myself, and having competed in many Badminton tournaments, i really appreciate sports and acknowledge the importance our sports-stars have on our society. This is especially true among our youth who look up to them and want to follow in their footsteps. And in sport, in my eyes there are no better example to follow than Denmarks biggest boxer ever the multiple-world champion boxer Mikkel Kessler, most honorable sportsman i ever saw, a true champ.
    <p>

</section>
<br />

<center style="position:relative; z-index:3;">
    <iframe width="560"
            height="315"
            src="http://www.youtube.com/embed/mUSUMHgGi9Y"
            frameborder="0"
            allowfullscreen></iframe>
</center>
<br /><br />

<section id="about" data-type="background" data-speed="10" class="pages" style="padding:15px; border-radius: 50px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png');  opacity: 0.9;filter: alpha(opacity=255); min-height:200px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
    <center>
        <h2>Jordan B Peterson</h2>
    </center>
    <p>
        Canadian professor of Psychology aswell as clinical psychologist for more than 20 years. Jordan is very active on his youtube channel, where he has lectures about pretty much all aspects of life, generally teaching people how to become the best person we can possible be(from which i have learned alot!). He is an extremely intelligent man, and rather entertaining aswell which i suspect is not common for people with that kind of intellect.
    </p>

    <br />
</section>
<br />


<center style="position:relative; z-index:3;">
    <iframe width="560"
            height="315"
            src="http://www.youtube.com/embed/dZrjrDLXSJA"
            frameborder="0"
            allowfullscreen></iframe>
</center>


<br />   <br /><br />   <br /><br />   <br />

<section id="CV" data-type="background" data-speed="10" class="pages" style="padding:20px; border-radius: 50px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png');  opacity: 0.9;filter: alpha(opacity=255); min-height:200px; margin: 0 auto; width:80%; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">

    <br /><br /> <center>
        <h1>Working experience(CV)</h1>
        <p>
            <i> (Most recent jobs first)   </i>
        </p>
        <br />
    </center>
    <div>
        <h3> Indiegala - Working on the existing Steam game Stayin Alive (7 months full time)</h3>
        <p>
            As a part of my 5.semester on my education AP Degree in Computer Science, we had a 3 months obligatory internship scheduled just before our last 3 months dedicated for our final exam. I was very privileged and landed an internship at the Rome-based game developer IndieGala, where i was working on their game Stayin Alive(released on Steam as of 20.december 2017).
            <br />http://store.steampowered.com/app/584890/ <br />  https://www.indiegala.com/stayingalive. 
        </p>

        <b>
            My tasks at IndieGala varied alot, but was usually within either of the following topics:
        </b>
        <br /> <br />
        <ul>
            <li>
                Coding of dynamic UI
            </li>
            <li>
                Bugfixing
            </li>
            <li>
                Development of a local Json database containing all the games strings, for easy and automatic translation of these when player changed language settings.

            </li>
        </ul>
        <p>
            This last task was particular important, since Stayin Alive was gonna be promoted at Gamescom(the worlds biggest game conference) in Germany in August 2017, it was crucial that we made Stayin Alive in German language avalible before this.
        </p>
        <b>
            Exam assignment:
        </b>
        <p>
            For my final exam where we were to develop something for a company of our choise, i arranged with my school and IndieGala, that i would develop something for them, and stay in Rome while doing so. The reason for this is that we wanted the best possible product, and judged it would be alot easier to achieve this, if i had access to the  other programmers, designers and artists working on Stayin Alive, to discuss design issues with, throughout my exam period.


            <br /><br /><b>
                The exam project was as follows, i were to develop a player customization feature to Stayin Alive which included:
            </b>
            <ul>
                <li>
                    There should be quests for the player to complete, and progress should be saved locally.
                </li>
                <li>
                    There should be rewards for said quests, which would reset once daily.
                </li>
                <li>

                    Said rewards should be stored online and viewable aswell as tradeable between players on the gaming platform Steam.
                </li>
                <li>
                    Said rewards should by items that could be equipped the playermodels, like skins, and be visible to the players in the game.
                </li>
                <li>
                    There should be an interface where the player could add/remove items, while previewing the look of his playermodel, and ultimately be able to save this look for when use in matches.
                </li>
            </ul>

            Since i only just mid february 2018 turned over my project to IndieGala, and they have plans to expand upon the feature before releasing it, it is not yet published to the original game and public.
            <br />
            If you want to know more about my exam assignment, you can visit the page MyWork, where there will be links for some sourcecode and a short document with explanations of the feature. As much as i wanted to, i obviously cant share with you all the legacy code, as it is owned by IndieGala who udnerstandably do not want it pirated.
            <br />

        </p>
    </div>
    <br />
    <div>
        <h3>Djurs Sommerland - Working in a restaurant during summer break (5 months full time)</h3>
        <p>
            <b>Description:</b> Djurs Sommerland is the biggest theme park in all of Scandinavia and hosts all sorts of activities. I worked as a cook in the parks 2nd largest restaurant, and had a lot of education in customer service, handling foods and cleaning before and during this job.
            <br /><b>What i learned from this experience:</b> A few coocking techniques, cleaning, talking to customers of all kinds mostly kids and families though, safe and hygienic handling of food.
        </p>
    </div>
    <br />
    <div>
        <h3> Coop storage central - Managing in & outgoing wares (16 months full time)</h3>
        <p>
            <b>
                Description:
            </b> At this job my job was to count in and outgoing wares and register the movements in a computer system, to make sure the various stores got the right wares and the right amounts.
            <br /><b>What i learned from this experience:</b> I didnt really aquire any new skills at this job, but i did get some insigt on how to manage a storage with alot of trafic in and out.
        </p>
    </div>
    <br />
    <div>
        <h3> Diana Lys - Factory machine worker(30 months full time)</h3>
        <p>
            <b>Description:</b> Was operating a machine that produced wax candles at high speed, the machine regularly broke and I had to invent all sorts of creative solutions to keep it going, as the company smith was not working night shifts.
            <br /><b>What i learned from this experience:</b> This probably sound very contradictory, for this job was a no-brainer really, or so it should be. However after working here for a while and seeing the same breakdowns happend over and over again the same places and for the same reasons, i started tinkering a bit with the machines, trying to minimize the risk of breakdowns(which happend frequently). This included doing all sorts of weird things, like attaching tape, a rubberband or even some cardboard somewhere on the machine. This was usually to prevent the candles from falling off the machine, or out of their boxes and into the machines engine, which caused the most breakdowns. It was allmost like a game in the end for me, and its safe to save i improved my ability to think outside of the box so to speak.
        </p>
    </div>
    <br />
    <div>
        <h3>Cobra group CPH - Business-to-business salesmen(9 months full time)</h3>
        <p>
            <b>Description:</b> Sold a wide variety of products directly to the business owner, often it was products like subscriptions to chiropractors, daily meals brought to the business by local kitchens, emergency car help and other stuff the owner might offer to his employees. In this regard I spoke to many CEOs personally and had education in various sales techniques regularly.
            <br /><b>What i learned from this experience:</b>I learned to be more comfortable talking to customers, even when these were directors or owners of semi-large companies. I learned sales techniques useable in situations where both parties are physically present.
        </p>
    </div>
    <br />
    <div>
        <h3>
            Dansk Tele Support - Phone salesman(6 months full time)
        </h3>
        <p>
            <b>Description:</b>Phone salesmen of all sorts of magazines and internet advertisements.
            <br /><b>What i learned from this experience:</b> Similar to my time in Cobra group, i had quiet a bit of training in psycology and sales techniques, though with the angle of the phone salesman instead, who has alot fewer tools than the B2B salesmen does, and as such need to act accordingly.
        </p>
    </div>
    <br />
    <div>
        <h3>

            Føtex Skive - Service employee(16 months part time)
        </h3>
        <p>
            <b>Description:</b> Føtex is one of the biggest chains of grocery stores in Denmark, and I was employed to help customers and ensure that there were always wares on the shelves.
            <br /><b>What i learned from this experience:</b> Customer service, management of wares and the planning that goes into running a warehouse of this size.
        </p>
    </div>
    <br />
    <div>
        <h3>

            Skive Aqua Park - Lifeguard assistant (36 months part time)
        </h3>
        <p>
            <b>Description:</b>  At the aqua park my main job was to ensure that everyone played by the rules, preventing people falling or otherwise hurting themselves. Secondary tasks was cleaning and trying to create a good environment by talking to and helping visitors have the best possible time at the park. (I have a written recommendation from this job somewhere, however I figured since it’s in Danish it wouldn’t do you much good anyway , though I can try to locate it should you be interested )
            <br /><b> What i learned from this experience:</b> Customer service, cleaning, emergency help, and a bit of language as the park was frequented by alot of turists.
        </p>
    </div>
</section>

<br />   <br /><br />   <br /><br />   <br />
