@using _18Marts.ViewModels
@model HomeViewModel
@{
    ViewBag.Title = "Home";
}



<div style="
background: url('url to image hosted in an Azure blob here.');
height: 700px;
width:100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
/*background-size: 100% 100%;*/ 
-webkit-box-shadow: 0 20px 50px rgba(0,0,0,0.8);
box-shadow: 0px 20px 50px rgba(0,0,0,0.8);">
</div>

 


<br /><br /><br /><br /><br />

                        <section id="Interests" data-type="background" data-speed="10" class="pages" style="border-radius: 0px; background: url('url to image hosted in an Azure blob here.');  opacity: 0.9;filter: alpha(opacity=255); min-height:200px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
                         

                                <br />
                                <center>
                                    <h4>Contacts</h4>
                                    <div style="width: 90%; margin-left: 5%; margin-right: 5%; ">
                                        <h5>
                                            <b>Mail:</b>
                                            <a href="mailto:Kallenielsen87@live.dk">
                                                <font color="blue">
                                                    <u>Kallenielsen87@live.dk</u>
                                                </font>
                                            </a>
                                            <br />    <br />
                                            <b>LinkedIn:</b> <a href="http://www.linkedin.com/in/kasper-nielsen-1984b8107">     <font color="blue"><u>www.linkedin.com/in/kasper-nielsen-1984b8107</u>        </font></a><br />
                                            <br />
                                            <b>Facebook:</b> <a href="https://www.facebook.com/kasper.nielsen.752">     <font color="blue"><u>www.facebook.com/kasper.nielsen.752</u>        </font></a><br />
                                            <br />
                                            <b>Phone:</b> <a>+45 24250220</a><br />
                                        </h5>

                                        <form method="post" asp-controller="Home" asp-action="Contact">
                                             <b>Or try the direct:</b>
                                            <input type="submit" value="Contact form" class="navbar-btn btn btn-success" />
                                        </form>

                                    </div>
                                </center>

                                <br />
                        </section>

<br /><br /><br /><br />




<br />   <br /><br />   <br /><br />   <br />
