@using _18Marts.ViewModels
@model HomeViewModel
@{
    ViewBag.Title = "Home";
}



<div style="
background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//14sw-Copy.jpg');
height: 700px;
width:100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
/*background-size: 100% 100%;*/ 
-webkit-box-shadow: 0 20px 50px rgba(0,0,0,0.8);
box-shadow: 0px 20px 50px rgba(0,0,0,0.8);">
</div>

 


<br /><br /><br /><br /><br />

                        <section id="Interests" data-type="background" data-speed="10" class="pages" style="border-radius: 0px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png');  opacity: 0.9;filter: alpha(opacity=255); min-height:200px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
                            <br />
                            <center><h2>About Kasper Nielsen</h2>    </center>
                            <br />
                            <center>
                                <h4>
                                    The basics
                                </h4>
                            </center>
                            <div style="width: 90%; margin-left: 5%; margin-right: 5%; ">
                                <ul>
                                    <li><b>Profession:</b> Software developer moving to the IT-Security field</li>
                                    <li><b>Education:</b> HHX International, Webintegrator(just the entry courses), Academy Profession (AP) Degree in Computer Science(Datamatiker) as of January 2018, currently studying PBA in IT-Security on Viby Business Academy</li>
                                    <li><b>Bio:</b> Kasper Nielsen, 30 years old, from Skive, currently living in Viby</li>
                                </ul>
                            </div>

                            <br />
                            <center><h4>Passions</h4>   </center>
                            <div style="width: 90%; margin-left: 5%; margin-right: 5%; ">
                                <ul>
                                    <li><b>Creating software(obviously)</b>, currently focusing on Android(Xamarin) applications and Microsoft Azure cloud utilities</li>
                                    <li><b>Entrepreneurship</b>, and am currently in the process of starting my own hobby-company</li>
                                    <li><b>IT security</b>, especially the subfields involving application security</li>
                                    <li><b>Others:</b> Badminton, reading, vegetarianism, fitness, , video games, healthy living, boxing, magic the gathering, personal development, philosophy of culture, politics, traveling etc...</li>
                                </ul>
                            </div>


                            </br>
                            <center>
                                <h4>Skills</h4>
                            </center>



                            <div style="width: 90%; margin-left: 5%; margin-right: 5%; ">
                                <p>
                                    <b>
                                        Technologies i have worked with extensively, and are comfortable working with
                                    </b>
                                </p>
                                <ul>
                                    <li>Visual Studio IDE. Primarily with applications of the types: Console, WinForms, WPF, Xamarin, ASP.NET webapp development with MVC design pattern</li>
                                    <li>C#</li>
                                    <li>Unity</li>
                                    <li>Windows Azure(Web applications, SQL servers, WebAPIs, cloud-based Virtual machines)</li>
                                </ul>
                                <p>
                                    <b>
                                        Technologies i have worked with, though some elements might be a bit rusty
                                    </b>
                                </p>
                                <ul>
                                    <li>Java and Android development with Android Studio</li>
                                    <li>JSON</li>
                                    <li>Git/Sourcetree/Unity collab/Visual studio team explorer</li>
                                    <li>HTML/CSS</li>
                                    <li>Working in accord to specific development patterns like Scrum, Unified Process or Waterfall</li>
                                    <li>SQLite for local databases</li>
                                    <li>Virtual box</li>
                                </ul>
                                <p><b>Technologies i have worked with briefly</b></p>
                                C++, Linux Kali, Monogame(Gameengine extension for Visual studio), Notepad++, Javascript, Razor pages, Bootstrap, Python, Gimp, Cryptography, Physical networks, Wordpress, Wireshark, Google drive, Microsoft Office, Photon, and others...
                            </div>

                                <br />
                                <center>
                                    <h4>Contacts</h4>
                                    <div style="width: 90%; margin-left: 5%; margin-right: 5%; ">
                                        <h5>
                                            <b>Mail:</b>
                                            <a href="mailto:Kallenielsen87@live.dk">
                                                <font color="blue">
                                                    <u>Kallenielsen87@live.dk</u>
                                                </font>
                                            </a>
                                            <br />    <br />
                                            <b>LinkedIn:</b> <a href="http://www.linkedin.com/in/kasper-nielsen-1984b8107">     <font color="blue"><u>www.linkedin.com/in/kasper-nielsen-1984b8107</u>        </font></a><br />
                                            <br />
                                            <b>Facebook:</b> <a href="https://www.facebook.com/kasper.nielsen.752">     <font color="blue"><u>www.facebook.com/kasper.nielsen.752</u>        </font></a><br />
                                            <br />
                                            <b>Phone:</b> <a>+45 24250220</a><br />
                                        </h5>

                                        <form method="post" asp-controller="Home" asp-action="Contact">
                                             <b>Or try the direct:</b>
                                            <input type="submit" value="Contact form" class="navbar-btn btn btn-success" />
                                        </form>

                                    </div>
                                </center>

                                <br />
                        </section>

<br /><br /><br /><br />




<br />   <br /><br />   <br /><br />   <br />
