@model MyWorkViewModel

@{
    ViewBag.Title = "MyWork";
}



 </br> </br> </br> </br> </br> </br>

<section id="About" style="border-radius: 50px; padding-left: 20px; padding-right: 20px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png'); opacity: 0.9;filter: alpha(opacity=255); min-height:100px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
    <center>
        <center><h1> My work</h1></center>

        <div style="width: 80%; margin-left: 10%; margin-right: 10%; margin-bottom: 10%;">
            </br>
            <h2> Work-in-progress</h2>
            </br>

            <h3>LittleGreenHelper - Xamarin Android mobile application</h3>
            <p> This is currently my main project, though ill admit i have been neglecting it for a while due to jobhunting and such. It is or atleast will be a mobile app, that scrapes a list of websites for specific products on sale, and then process them into a visual table where information will be calculated and displayed like: </p>

            <ul>
                <li>
                    Discount % compared to regular price
                </li>
                <li>
                    Last time this % or higher discount was given on this product
                </li>
                <li>
                    Price pr gram/piece
                </li>
                <li>
                    Closests salesplace if not online
                </li>
            </ul>

            <p>And other things.</p>
            <p>
                The idea is that it will help vegans, vegetarians or anyone interested in living a bit greener(and healthier), and to live easier according to their beliefs. Me having been an on/off vegetarian myself knows some of the problems that makes these lifestyles difficult, where the bigegst ones for me was the expensive food and clothing(not using anything from animals requires you to buy alot of "speciality" products), it can also be very time demanding to find a vegan substitute for simple every day products.
            </p>
            <p>
                This app aims to help with these things. And i have plans to expand it to include other features aswell.
            </p>


            <h3>MemoryHelper - Windows WPF app</h3>
            <p>
                This app is basicly a deck of questions about these elements, where i will answer the questions, then display the answers that i put in when i first added the question to the pool, then i will judge if it was an acceptable answer or not. The deck will allways move the questions with the lowest correct answer rating to the front, exposing me to my worst questions more frequently.
            </p>

            <h3>Arena brawler game - Unity3D game</h3>
            <p> This game is an idea which design ive worked on on/off for years, however it is put on hold for now, and might be scratched completely, as i simply dont have the time to continue working on it. </p>
            <p>
                But its basicly a 2D multiplayer arena shooter with some RPG elements(a bit like a very old stickman shooter called Soldat we used to play in highschool), which is indeed a very peculiar mix, however what exites me the most about it, is its controls. The controls are inspired by my all-time favorite videgame Black and White, and works the way that the player draws patterns with his mouse, and depending on what pattern he drew X action will happend with X percent effectiveness depending on how fast and precise he drew the pattern.
            </p>
            <p>As im moving away from gamedevelopment however, this game is unlikely to ever get finished, though i do have hope that someday i will have time to create a little "hobby" company of my own, where i can develop and release small videogames like this one in my spare time. </p>
            </br>
            <h2>Finished projects</h2>
            </br>
            <p>
                <i>
                    (I have a long list of semi-complete applications i could add here, that are using technologies like Android Studio, Java, C++, Console applications, Winforms applications, Windows Universal project, Monogame, GameMaker, Unity3D and others. However as these were made before or during my time in school, most of them are pretty outdated and do not represent my current skill level, and as such i would prefer not to be jugde from them)
                </i>
            </p>

            <h3>Stayin Alive - Unity3D game released on Steam as of December 2017</h3>

            <p>
                As i mention on my CV page(in case you havent read it), i did my finishing exam assignment for the italian game developing company IndieGala where i worked on their existing game Stayin Alive. As this is part of an exam, keep in mind that the 3month period length we had for the full exam, has not been used exclusively on the product, as probably 1½ months went into a writing documentation and a 70 pages paper that was part of the exam aswell. Being a 1-man group due to me living in Italy at that time, it was quiet a workload to get the product, documentation and paper done in 3months.
            </p>

            <p>As a consequence, there might be places where i just havent had time to care as much to details of the code as i would like. Atleast im aware of a few places myself where the principles of OOP or SOLID, havent been followed as strickly as our professors would probably have liked, oh well you can only do so much with limited time. </p>

            <p>

                Anyway, on the following link you can find the How-to document i wrote to IndieGala before turning over the product to them. In the document is a simple explanation of the product, its technologies and some images of how the feature i created looks in use in the game:  <br />
                <b>
                    Link:
                    https://drive.google.com/open?id=13F-vqxLkJA7lUJeDqhnNvGctDdl1YHFb
                </b>
            </p>

            <p>

                On this link you can find the Stayin Alive classes and code that i wrote myself. Do be aware that its developed for Unity, and as such there will be classes you dont see in "regular" C# projects, and there will be a different structure to some things. For instance, Unity dont allow use of some common C# tools, like the "New" keyword when the using class inherits from Unitys Monobehavior class, which obviously we have to work around in creative ways sometimes.

                <br /><b>
                    Link:
                    https://drive.google.com/open?id=1lyTjNVMMdVF0o-rSVUvODQJAyuYRvK8B
                </b>
            </p>
            <br />
            <br />
        </div>
    </center>
</section>