@model MyWorkViewModel

@{
    ViewBag.Title = "MyWork";
}


 </br> </br> </br> </br> </br> </br>



<section id="About" style="border-radius: 0px; padding-left: 20px; padding-right: 20px; background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages//whitegrayplainbackground.png'); opacity: 0.9;filter: alpha(opacity=255); min-height:100px; margin: 0 auto; width:80%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
    <div>

        </br> </br>        </br> </br>

        <center>
            <h1>Lille Grønne Hjælper(Android application)</h1>

            </br> </br>
            <div style="padding-left: 10%; padding-right: 10%;">
                <h5>
                    Do you sometimes think hmm there might be something to that global warming thing. Maybe i SHOULD try to do something about it, i mean nothing crazy, just the easy things i can do myself, like eat less meat, recycle more, cut down on my electricity use or maybe even ride the bike once in a while. If you do, your not alone, infact most people these days are "awakening" to the negative impact we have on our planet, and most actually want to live and be better, however dont know how to do it. Did i mention there is like a TON of health benefits to stop eating meat? see below video for more information!
                </h5>
                <h5>
                        My <b>Lille Grønne Hjælper</b> should help anyone interested in living a bit greener(and healthier), with these things.
                    </h5>
</div>
                </center>

        </br> </br>

        <center>
            <iframe width="400"
                    height="400"
                    src="https://iamkaspernielsenstorage.blob.core.windows.net/videos/10ReasonsWhyLow.mp4"
                    frameborder="0"
                    allowfullscreen></iframe>
        </center>

        </br> </br>

        <div>
            <div>
                <center>
                    <a href="https://iamkaspernielsenstorage.blob.core.windows.net/myimages//mainMenu.png">
                        <img src="https://iamkaspernielsenstorage.blob.core.windows.net/myimages//mainMenu.png" alt="Image" style="max-width: 600px; max-height: 800px; padding-left: 10%; padding-right: 10%;" />
                    </a>
                </center>
            </div>
            </br> </br>
            <h5><b>Features: </b> </h5>
            <ul>
                <ul>
                    <b> Ugens tilbud / This weeks bargains</b>
                    <li>
                        On of the biggest problems would-be vegans encounter is that its rather expensive to stop eating meat(price pr calorier is alot lower for meat than it is for most vegan products save for pasta). This page helps with that by creating an easy overview of this weeks bargains in the biggest grocerie chains in Denmark(Føtex, Fakta, Kvickly, Super Brugsen, Netto, Aldri, Rema, and many more).
                    </li>
                    <li>
                        The bargains are sorted after how good they are percent-wise(compared to market prices), since often supermarkeds use dirty tricks to inflate their bargains and make them look better than they are while they are infact often closer to the regular price than an actual bargain.
                    </li>
                    <li>
                        Most popular vegan products will show first, which also can be used as an indicator as to what bargains and products are considered "good".
                    </li>
                    <li>
                        The user can easily use the search field to find their favorit products, and see if they are on discount this week, and if yes, where.
                    </li>
                    <li>
                        The user can add his favorit products to a wordlisten, then these products will persistently be shown first in the list for easy overview(the bargain list contains ALOT of items, often 1000+).
                    </li>
                </ul>
                <ul>
                    </br>
                    <b>Opskrifter / Recipes</b>
                    <li>
                        Another big hurdle for would-be vegans, is that they find it difficult to create delicious dishes, and some even think that its not possible without meat. However this is completely wrong, which we are trying to show with the content on this page.
                    </li>
                    <li>
                        Share your favorite dishes and vote on others.
                    </li>
                    <li>
                        Currently holds the categories Vegan, Vegetarian, Forret, Hovedret, Dessert and Andet.
                    </li>
                </ul>
                <ul>
                    </br>
                    <b>Tips til et grønnere liv / Tips on how to live a greener life</b>
                    <li>
                        This page is for sharing tips/tricks/websites/knowledge etc, and helping people do all the little things in their dailiy life, that will lower their negative impact on the environment.
                    </li>
                    <li>
                        Learn how to save power in your household.
                    </li>
                    <li>
                        Learn to share/reuse to minimize resource consumption.
                    </li>
                    <li>
                        Learn about the apps, websites, organisations etc that provides ways to minimize resource consumption like Gomore.dk for shared driving, or a long list of apps like RedMaden, that helps groceriestores sell/give away their stuff thats getting close to expiration date and would otherwise have been thrown out.
                    </li>
                </ul>
                <ul>
                    </br>
                    <b>Debathjælper / Debatehelper</b>
                    <li>
                        The condescension and ridicule from the sourounding society when you proclaim youll try to stop eat meat can be overwhelming, but on this page we will help teach people how to deal with this problem.
                    </li>
                    <li>
                        This page contains facts about the advantages of not eating meat, the harmfull effects of eating meat, aswell as a list of the most common(and silly) arguments against veganism,(and how to counter them) like for instance this classic "its impossible to get enough protein without meat!".
                    </li>
                    <li>
                        This page allows the users to contribute content, provide arguments and counter arguments themselves that they often come across when debating meat-eaters.
                    </li>
                </ul>
                <ul>
                    </br>
                    <b>Vote with your wallet!</b>
                    <li>
                        Alone its hard to convince big companies and politicians to be better, but together and with our money, we can make our voices heard where they will listen. I mean, if you had the choise between 2 companies that sold the exact same product, at the exact same price, but one of them tested chemicals on animals, and the other did not, would you not like to know? Putting your money with the good guys, sends a strong signal. Do it.
                    </li>
                    <li>
                        This page contains 2 lists of companies, politicians, celebrities and other public influencers. They are devided into companies we should support when possible, and companies we should avoid.
                    </li>
                    <li>
                        This page allows the users to contribute content, provide arguments and proof(links) that someone should/should-not be on one of the lists.
                    </li>
                    <li>
                        A voting/rating system is in the works to allow for the democratic oppinion of the group to decide, this to ensure that these lists will not be abused or used for personal vendettas.
                    </li>
                </ul>
                <br />
                <p><b>I have plans to expand with other features in the future, but first some polishing and a testdrive to see what works and what the users want.</b></p>
            </ul>
        </div>

        </br> </br>

        <h5><b>Technologies used: </b> </h5>
        <ul>
            <li>
                <b> Xamarin Android application:</b> Subframework of Visual Studio used to create the client application.
            </li>
            <li>
                <b>Windows Console application:</b> A visual studio format, used for my webcrawler that when done scanning its websites for bargains, creates and uploads an easy readable JSON document with "Ugens tilbud" for the client to use.
            </li>
            <li>
                <b> C#:</b> The main programming language of the connected applications.
            </li>
            <li>
                <b>JSON:</b> A JSON document hosted on Azure to hold all the bargains.
            </li>
            <li>
                <b>XML:</b> Used for styling Android applications in Xamarin.
            </li>
            <li>
                <b> SQL:</b> Used to fetch data from our userdatabase.
            </li>
            <li>
                <b>Azure SQL server:</b> Our database used to hold userdata.
            </li>
            <li>
                <b> Azure blob storage:</b> Used as fileserver to host images and videos used in the client application.
            </li>
            <li>
                <b> WebAPIs:</b> Used to handle the communication between the client and the SQL server.
            </li>
            <li>
                <b> Google Play Console:</b> Currently holding a very old test version of this project. A newer version will be released later 2018.
            </li>
            <li>
                <b> Amazon affiliate program:</b> Several services that are used to run this app are not free, and i need to be able to sustain it without me having to continously pay from my own pocket. For me, not wanting to implement ads or user payment, which would decrease the quality of the app, affiliate marketing seemed the best way to create some form of income. Im using the Amazon affiliate program for that.
            </li>
            <p><b>And others...</b></p>
        </ul>

    </div>

    </br> </br> </br> </br>        </br> </br> </br> </br>

</section>


      