@model SkillsViewModel

@{
    ViewBag.Title = "CV";
}

<div style="width: 60%; margin-left: 20%; margin-right: 20%; margin-bottom: 20%;">
    </br>
    <center>
        <h1>Skills</h1>
    </center>
    </br>
    <h3>Topics i have worked with extensively, and do feel comfortable working with</h3>
    <ul>
        <li>Visual Studio IDE. Primarily with applications of the types: Console, Win forms, WPF and currently learning ASP.NET webapp development</li>
        <li>C#</li>
        <li>Unity (game engine)</li>
    </ul>
    <h3>Tops i have worked with, and do feel somewhat comfortable working with, though some elements might be rusty and needs refreshing</h3>
    <ul>
        <li>Android development with Android Studio and Java</li>
        <li>Monogame(Gameengine extension for Visual studio)</li>
        <li>Git/Sourcetree/Unity collab/Visual studio team explorer</li>
        <li>HTML/CSS</li>
        <li>Working in accord to specific development patterns like Scrum, Unified Process or Waterfall</li>
        <li>SQLite for local databases</li>
    </ul>
    <h3>Stuff i have tried briefly, but would feel somewhat comfortable working with after some reading up</h3>
    <ul>
        <li>C++</li>
        <li>Linux Kali</li>
        <li>Virtual box</li>
        <li>Windows Azure(im currently learning webapps/razor pages with ASP.NET for Azure)</li>
        <li>Notepad++</li>
    </ul>
    <h3>Other</h3>
    <ul>
        <li>Drivers license for regular cars</li>
        <li>English, fluent spoken and written</li>
        <li>Understands some German, mostly written though</li>
    </ul>

    <h3>Im currently studying/training Webapplications, with focus on the elements listed below</h3>
    <ul>
        <li>ASP.NET</li>
        <li>The MVC design pattern</li>
        <li>HTML/CSS</li>
        <li>Bootstrap</li>
        <li>Razor pages</li>
        <li>SQL Server/Databases</li>
        <li>Windows Azure</li>
    </ul>
</div>


