<!DOCTYPE html>

<html>
@*<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment names="Development">
        <link rel="stylesheet"
              href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet"
              href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/
              css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
    </environment>

</head>*@

<body>

    @*<nav class="navbar navbar-inverse navbar-fixed-top">

        <center>
            <div style="font-size: xx-large">
                <ul>
                    <a asp-controller="Home" asp-action="Home" class="btn text-danger h1">Home</a>
                    <a asp-controller="Home" asp-action="CV" class="btn text-danger h1 ">CV</a>
                    <a asp-controller="Home" asp-action="Skills" class="btn text-danger h1">Skills</a>
                    <a asp-controller="Home" asp-action="MyWork" class="btn text-danger h1">MyWork</a>
                    <a asp-controller="Home" asp-action="Grades" class="btn text-danger h1">Grades & references</a>
                    <a asp-controller="Home" asp-action="Future" class="btn text-danger h1">Future goal</a>
                    <a asp-controller="Home" asp-action="Contact" class="btn text-danger h1">Contact</a>
                    <a asp-controller="Home" asp-action="Private" class="btn text-danger h1">Private</a>
                </ul>
            </div>
        </center>
    </nav>
    <br /><br /><br />
    <nav>
        @await Html.PartialAsync("_LoginLinks")
    </nav>*@


    <div>
        @RenderBody()
    </div>

    @*<environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js">
            </script>
            <script src="~/lib/jquery-validation-unobtrusive/
            jquery.validate.unobtrusive.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/
            jquery-3.2.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/
            1.16.0/jquery.validate.min.js"
                    asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/
            jquery.validate.unobtrusive.min.js"
                    asp-fallback-src="~/lib/jquery-validation-unobtrusive/
                jquery.validate.unobtrusive.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator
                && window.jQuery.validator.unobtrusive">
            </script>
        </environment>*@

</body>
</html>
