<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment names="Development">
        <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css" />
        @*<link rel="stylesheet"
            href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css" />
    </environment>

</head>
<br />


<body style="background-color: rgb(224, 225, 225);">
    <center>
        <div style="font-size: xx-large; background-color: rgb(0, 0, 0);">
            <ul>
                <a asp-controller="Home" asp-action="Home" class="btn text-danger h1" style="border: none;">Home</a>
                <a asp-controller="Home" asp-action="Contact" class="btn text-danger h1" style="border: none;">Contact</a>
                <a asp-controller="Home" asp-action="CV" class="btn text-danger h1 " style="border: none;">CV</a>
                <a asp-controller="Home" asp-action="Skills" class="btn text-danger h1" style="border: none;">Skills</a>
                <a asp-controller="Home" asp-action="MyWork" class="btn text-danger h1" style="border: none;">MyWork</a>
                <a asp-controller="Home" asp-action="Grades" class="btn text-danger h1" style="border: none;">Grades & references</a>
                <a asp-controller="Home" asp-action="Future" class="btn text-danger h1" style="border: none;">Future goal</a>
                <a asp-controller="Home" asp-action="Private" class="btn text-danger h1" style="border: none;">Private</a>
            </ul>
        </div>
    </center>
    <nav>
        @await Html.PartialAsync("_LoginLinks")
    </nav>



    @*aasddaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <section id="home" data-type="background" data-speed="10" class="pages" style="background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages/parallax_alpha_android.png') 50% 0; min-height:200px; margin: 0 auto; width:40%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
        <article style="height:458px; position: absolute; text-align:center; top:150px; width:100%;">I am absolute positioned</article>
    </section>
    <br />
    <section id="about" data-type="background" data-speed="10" class="pages" style="background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages/parallax_cs.png') 50% 0 repeat fixed; min-height:200px; margin: 0 auto; width:50%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
        <article style="height:458px; position: absolute; text-align:center; top:150px; width:100%;">Simple Parallax Scroll</article>
    </section>
    <br />
    <section id="about" data-type="background" data-speed="10" class="pages" style="background: url('https://iamkaspernielsenstorage.blob.core.windows.net/myimages/parallax_unity.png') 50% 0 repeat fixed; min-height:200px; margin: 0 auto; width:100%; max-width: 1920px; position:relative; -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);   box-shadow: 0 0 50px rgba(0,0,0,0.8);">
        <article style="height:458px; position: absolute; text-align:center; top:150px; width:100%;">Simple Parallax Scroll</article>
    </section>*@

    @*https://iamkaspernielsenstorage.blob.core.windows.net/myimages/parallax_android.jpg
        https://iamkaspernielsenstorage.blob.core.windows.net/myimages/parallax_cs.png
        https://iamkaspernielsenstorage.blob.core.windows.net/myimages/parallax_unity.png*@

    @*aasddaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*@




    <div class="text-dark">
        @RenderBody()
    </div>

    @*<environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js">
            </script>
            <script src="~/lib/jquery-validation-unobtrusive/
            jquery.validate.unobtrusive.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/
            jquery-3.2.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/
            1.16.0/jquery.validate.min.js"
                    asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/
            jquery.validate.unobtrusive.min.js"
                    asp-fallback-src="~/lib/jquery-validation-unobtrusive/
                jquery.validate.unobtrusive.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator
                && window.jQuery.validator.unobtrusive">
            </script>
        </environment>*@

</body>
</html>
