<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment names="Development">
        <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css" />
        @*<link rel="stylesheet"
            href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css" />
    </environment>

</head>
<br />

<body style="background-color: rgb(224, 225, 225);">
    <center>
        <div style="font-size: xx-large; background-color: rgb(0, 0, 0);">
            <ul>
                <a asp-controller="Home" asp-action="Home" class="btn text-danger h1" style="border: none;">Home</a>
                <a asp-controller="Home" asp-action="Contact" class="btn text-danger h1" style="border: none;">Contact</a>
                <a asp-controller="Home" asp-action="CV" class="btn text-danger h1 " style="border: none;">CV</a>
                <a asp-controller="Home" asp-action="Skills" class="btn text-danger h1" style="border: none;">Skills</a>
                <a asp-controller="Home" asp-action="MyWork" class="btn text-danger h1" style="border: none;">MyWork</a>
                <a asp-controller="Home" asp-action="Grades" class="btn text-danger h1" style="border: none;">Grades & references</a>
                <a asp-controller="Home" asp-action="Future" class="btn text-danger h1" style="border: none;">Future goal</a>
                <a asp-controller="Home" asp-action="Private" class="btn text-danger h1" style="border: none;">Private</a>
            </ul>
        </div>
    </center>
    <nav>
        @await Html.PartialAsync("_LoginLinks")
    </nav>


    <div class="text-danger" >
        @RenderBody()
    </div>

    @*<environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js">
            </script>
            <script src="~/lib/jquery-validation-unobtrusive/
            jquery.validate.unobtrusive.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/
            jquery-3.2.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/
            1.16.0/jquery.validate.min.js"
                    asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/
            jquery.validate.unobtrusive.min.js"
                    asp-fallback-src="~/lib/jquery-validation-unobtrusive/
                jquery.validate.unobtrusive.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator
                && window.jQuery.validator.unobtrusive">
            </script>
        </environment>*@

</body>
</html>
