
    <div class="text-dark" style=" margin-left:5px; margin-top:2%; position:fixed; z-index:10;">


        @if (AccountController.currentClearance.Name != "Guest")
        {
            // Signed in
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Logout" class="navbar-btn btn btn-danger" />
          
            @*<div style="color:white; display:inline; z-index:-10;">
                @AccountController.currentClearance.Name
            </div>*@
        </form>
        }

        else
        {
            // Not singed in
        <form method="post" asp-controller="Account" asp-action="Login">
            <input type="submit" value="Login" class="navbar-btn btn btn-success" />   
        </form>

        }

    </div>




