@model CVViewModel

@{
    ViewBag.Title = "CV";
}





<div style="width: 60%; margin-left: 20%; margin-right: 20%; margin-bottom: 20%;">
    <br /><br /> <center>
        <h1>Working experience(CV)</h1>
        <p>
            <i> (Most recent jobs first)   </i>
        </p>
        <br />
    </center>
    <div>
        <h3> Indiegala - Working on the existing Steam game Stayin Alive (7 months full time)</h3>
        <p>
            As a part of my 5.semester on my education AP Degree in Computer Science, we had a 3 months obligatory internship scheduled just before our last 3 months dedicated for our final exam. I was very privileged and landed an internship at the Rome-based game developer IndieGala, where i was working on their game Stayin Alive(released on Steam as of 20.december 2017).
            <br />http://store.steampowered.com/app/584890/ <br />  https://www.indiegala.com/stayingalive. 
        </p>

        <b>
            My tasks at IndieGala varied alot, but was usually within either of the following topics:
        </b>
        <br /> <br />
        <ul>
            <li>
                Coding of dynamic UI
            </li>
            <li>
                Bugfixing
            </li>
            <li>
                Development of a local Json database containing all the games strings, for easy and automatic translation of these when player changed language settings.

            </li>
        </ul>
        <p>
            This last task was particular important, since Stayin Alive was gonna be promoted at Gamescom(the worlds biggest game conference) in Germany in August 2017, it was crucial that we made Stayin Alive in German language avalible before this.
        </p>
        <b>
            Exam assignment:
        </b>
        <p>
            For my final exam where we were to develop something for a company of our choise, i arranged with my school and IndieGala, that i would develop something for them, and stay in Rome while doing so. The reason for this is that we wanted the best possible product, and judged it would be alot easier to achieve this, if i had access to the  other programmers, designers and artists working on Stayin Alive, to discuss design issues with, throughout my exam period.


            <br /><br /><b>
                The exam project was as follows, i were to develop a player customization feature to Stayin Alive which included:
            </b>
            <ul>
                <li>
                    There should be quests for the player to complete, and progress should be saved locally.
                </li>
                <li>
                    There should be rewards for said quests, which would reset once daily.
                </li>
                <li>

                    Said rewards should be stored online and viewable aswell as tradeable between players on the gaming platform Steam.
                </li>
                <li>
                    Said rewards should by items that could be equipped the playermodels, like skins, and be visible to the players in the game.
                </li>
                <li>
                    There should be an interface where the player could add/remove items, while previewing the look of his playermodel, and ultimately be able to save this look for when use in matches.
                </li>
            </ul>

            Since i only just mid february 2018 turned over my project to IndieGala, and they have plans to expand upon the feature before releasing it, it is not yet published to the original game and public.
            <br />
            If you want to know more about my exam assignment, you can visit the page MyWork, where there will be links for some sourcecode and a short document with explanations of the feature. As much as i wanted to, i obviously cant share with you all the legacy code, as it is owned by IndieGala who udnerstandably do not want it pirated.
            <br />

        </p>
    </div>
    <br />
    <div>
        <h3>Djurs Sommerland - Working in a restaurant during summer break (5 months full time)</h3>
        <p>
            <b>Description:</b> Djurs Sommerland is the biggest theme park in all of Scandinavia and hosts all sorts of activities. I worked as a cook in the parks 2nd largest restaurant, and had a lot of education in customer service, handling foods and cleaning before and during this job.
            <br /><b>What i learned from this experience:</b> A few coocking techniques, cleaning, talking to customers of all kinds mostly kids and families though, safe and hygienic handling of food.
        </p>
    </div>
    <br />
    <div>
        <h3> Coop storage central - Managing in & outgoing wares (16 months full time)</h3>
        <p>
            <b>
                Description:
            </b> At this job my job was to count in and outgoing wares and register the movements in a computer system, to make sure the various stores got the right wares and the right amounts.
            <br /><b>What i learned from this experience:</b> I didnt really aquire any new skills at this job, but i did get some insigt on how to manage a storage with alot of trafic in and out.
        </p>
    </div>
    <br />
    <div>
        <h3> Diana Lys - Factory machine worker(30 months full time)</h3>
        <p>
            <b>Description:</b> Was operating a machine that produced wax candles at high speed, the machine regularly broke and I had to invent all sorts of creative solutions to keep it going, as the company smith was not working night shifts.
            <br /><b>What i learned from this experience:</b> This probably sound very contradictory, for this job was a no-brainer really, or so it should be. However after working here for a while and seeing the same breakdowns happend over and over again the same places and for the same reasons, i started tinkering a bit with the machines, trying to minimize the risk of breakdowns(which happend frequently). This included doing all sorts of weird things, like attaching tape, a rubberband or even some cardboard somewhere on the machine. This was usually to prevent the candles from falling off the machine, or out of their boxes and into the machines engine, which caused the most breakdowns. It was allmost like a game in the end for me, and its safe to save i improved my ability to think outside of the box so to speak.
        </p>
    </div>
    <br />
    <div>
        <h3>Cobra group CPH - Business-to-business salesmen(9 months full time)</h3>
        <p>
            <b>Description:</b> Sold a wide variety of products directly to the business owner, often it was products like subscriptions to chiropractors, daily meals brought to the business by local kitchens, emergency car help and other stuff the owner might offer to his employees. In this regard I spoke to many CEOs personally and had education in various sales techniques regularly.
            <br /><b>What i learned from this experience:</b>I learned to be more comfortable talking to customers, even when these were directors or owners of semi-large companies. I learned sales techniques useable in situations where both parties are physically present.
        </p>
    </div>
    <br />
    <div>
        <h3>
            Dansk Tele Support - Phone salesman(6 months full time)
        </h3>
        <p>
            <b>Description:</b>Phone salesmen of all sorts of magazines and internet advertisements.
            <br /><b>What i learned from this experience:</b> Similar to my time in Cobra group, i had quiet a bit of training in psycology and sales techniques, though with the angle of the phone salesman instead, who has alot fewer tools than the B2B salesmen does, and as such need to act accordingly.
        </p>
    </div>
    <br />
    <div>
        <h3>

            Føtex Skive - Service employee(16 months part time)
        </h3>
        <p>
            <b>Description:</b> Føtex is one of the biggest chains of grocery stores in Denmark, and I was employed to help customers and ensure that there were always wares on the shelves.
            <br /><b>What i learned from this experience:</b> Customer service, management of wares and the planning that goes into running a warehouse of this size.
        </p>
    </div>
    <br />
    <div>
        <h3>

            Skive Aqua Park - Lifeguard assistant (36 months part time)
        </h3>
        <p>
            <b>Description:</b>  At the aqua park my main job was to ensure that everyone played by the rules, preventing people falling or otherwise hurting themselves. Secondary tasks was cleaning and trying to create a good environment by talking to and helping visitors have the best possible time at the park. (I have a written recommendation from this job somewhere, however I figured since it’s in Danish it wouldn’t do you much good anyway , though I can try to locate it should you be interested )
            <br /><b> What i learned from this experience:</b> Customer service, cleaning, emergency help, and a bit of language as the park was frequented by alot of turists.
        </p>
    </div>
</div>
